@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.blink-text {
	animation: blink 1.5s infinite;
}

.display {
	grid-column: span 4;
	background-color: #0004;
	position: relative;

	color: #fff;
	font-size: 5em;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 20px;
}
